<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- createComposeRule hosts content in the test APK's EmptyActivity, not
             the target app. Keep the physical-phone QA suite renderable if the
             keyguard engages during slower Room integration tests. -->
        <activity
            android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyActivity"
            android:showWhenLocked="true"
            android:turnScreenOn="true" />
        <activity
            android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyFloatingActivity"
            android:showWhenLocked="true"
            android:turnScreenOn="true" />
    </application>
</manifest>
